
/* storing variables */
:root {
    --nav-height: 120px;
    --background-color: darkslategray;
}

/* default settings */
* {
    box-sizing: border-box;
    font-family: 'Times New Roman';
    font-weight: normal;
}

/* website body */
html, body {
    height: 100%;
    margin: 0;
    background-color: var(--background-color);
}

/* flex box settings */
.flex-start-center {
    float: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flex-center-center {
    width: 75%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* form input */
#input input[type="text"] {
    padding-left: 20px;
    height: 50px;
    font-size: 24px;
    box-sizing: border-box;
    border-radius: 7px;
    border-color: burlywood;
}

/* title heading box */
#title {
    width: fit-content;
    height: auto;
    margin-left: 10%;
}

/* title text */
#title > p {
    font-size: 56px;
    letter-spacing: 2px;
}

/* subtitle box */
#subtitle {
    width: fit-content;
    height: auto;
    margin-left: 30%;
}

/* subtitle text */
#subtitle > p {
    font-size: 18px;
    letter-spacing: 2px;
}

/* input box */
#input {
 
}

/* nav bar box */
#nav {
    width: 100%; 
    height: var(--nav-height);
    top: 0;
    position: sticky;
    z-index: 1;
    color: aliceblue;
    background-color: var(--background-color);
}